body {
    color: #fff;
  background-color: #CC99FF;
  
}

/** HEADER **/
#header-nav {
  background-color: #00FF66;
  border-radius: 0;
  border: 0;
  margin-bottom: 20px;
}



.navbar-brand {
  padding-top: 25px;
}

.navbar-brand h1 { /* Restaurant name */
  
  color: #FF3300;
  font-size: 40px;
 /* text-transform: uppercase;*/
  font-weight: bold;
  text-shadow: 1px 1px 1px #222;
  margin-top: 0;
  margin-bottom: 0;
  line-height: .75;
}
.navbar-brand a:hover, .navbar-brand a:focus {
  text-decoration: none;
}



#nav-list {
  margin-top: 10px;
}
#nav-list a {
  color: #951C49;
  text-align: center;
}
#nav-list a:hover {
  background: #E7E7E7;
}
#nav-list a span {
  font-size: 1.8em;
}



.navbar-header button.navbar-toggle, .navbar-header .icon-bar {
  border: 1px solid #61122f;
}
.navbar-header button.navbar-toggle {
  clear: both;
  margin-top: -30px;
}
/* END HEADER */

/* Main Body Content*/

.OurMenu{
  font-size: 40px;
} 

.Chicken , .Beef, .Sushi{
  
  box-sizing: border-box;
   /* width:90%;*/
    background-color: #33CCFF;
    border: 5px solid black;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 20px;
    position: relative;


}

.Title{
  font-size: 35px;
}
/*End Main Content*/

/*****For Computer Screen*****/
   @media (min-width: 992px) {
    #nav-list a{
      opacity: 0;
    }
   }

   /*****For Tablet Screen*****/
     @media (min-width: 768px) and (max-width: 991px){
      #nav-list a{
      opacity: 0;
    }

     }
